.sidebar {
    width: 350px;
    background-color: #f8f9fa;
    padding: 10px;
    overflow-y: auto; /* Añade un scroll vertical si el contenido excede la altura */
    height: 100vh; /* Asegura que la sidebar ocupe toda la altura de la ventana */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho y alto */
}

.sidebar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    word-wrap: break-word; /* Permite que el texto se ajuste dentro del contenedor */
    overflow-wrap: break-word; /* Permite que el texto se ajuste dentro del contenedor */
}

.accordion {
    width: 100%;
}

.accordion-item {
    border: 1px solid #ddd;
    margin-bottom: 5px;
}

.accordion-header {
    background-color: #e9ecef;
    cursor: pointer;
    padding: 10px;
    font-weight: bold;
}

.accordion-content {
    display: none;
    padding: 10px;
    background-color: #fff;
}

.accordion-item.active .accordion-content {
    display: block;
}